{
    "openapi": "3.1.0",
    "info": {
        "title": "apidoc",
        "description": "",
        "version": "1.0.0"
    },
    "tags": [

    ],
    "servers": [
        {
            "url": "https://user.pmock.com/api",
            "description": "Generated server url"
        }
    ],
    "paths": {
        "/open/api/product/list": {
            "get": {
                "summary": "Get product list",
                "deprecated": false,
                "description": "get product information list",
                "tags": [

                ],
                "parameters": [

                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RListProductInfoVO"
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "traceId": "",
                                            "code": 0,
                                            "msg": "",
                                            "data": [
                                                {
                                                    "spuId": 0,
                                                    "spuName": "",
                                                    "skuList": [
                                                        {
                                                            "skuId": 0,
                                                            "skuName": "",
                                                            "chargeType": 0,
                                                            "cycle": 0,
                                                            "cycleName": "",
                                                            "isAutoRenewal": false,
                                                            "cyclePrice": 0,
                                                            "skuExtraPriceList": [
                                                                {
                                                                    "id": 0,
                                                                    "name": "",
                                                                    "price": 0,
                                                                    "cycleName": ""
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "status": ""
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {

                        }
                    }
                },
                "security": [

                ]
            }
        },
        "/open/api/phone/create": {
            "post": {
                "summary": "Create phone",
                "deprecated": false,
                "description": "create a mobile phone",
                "tags": [

                ],
                "parameters": [

                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PhoneCreateReqVOCreate",
                                "description": ""
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RVoid"
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "traceId": "",
                                            "code": 0,
                                            "msg": "",
                                            "data": null,
                                            "status": ""
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {

                        }
                    }
                },
                "security": [

                ]
            }
        },
        "/open/api/phone/list": {
            "get": {
                "summary": "Get phone list",
                "deprecated": false,
                "description": "get phone page list",
                "tags": [

                ],
                "parameters": [
                    {
                        "name": "nameOrCode",
                        "in": "query",
                        "description": "phone name or phone number",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "maxLength": 32
                        }
                    },
                    {
                        "name": "spuId",
                        "in": "query",
                        "description": "phone spuId, The `spuId` value contained in the current interface's returned result",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "skuId",
                        "in": "query",
                        "description": "phone skuId, The `skuId` value contained in the current interface's returned result",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "phone status, The `status` value contained in the current interface's returned result, 1=normal,2=restart,4=powerOff,41=powerOn,6=reset,7=One-click New Device",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "authorizeUserIds",
                        "in": "query",
                        "description": "Authorized User ID list, The `userId` value contained in the current interface's returned result",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expireStatus",
                        "in": "query",
                        "description": "Billing (expired) status: 0=expired, 1=normal",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "skuName",
                        "in": "query",
                        "description": "sku name, The `skuName` value contained in the current interface's returned result",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "networkId",
                        "in": "query",
                        "description": "phone network ID, The `networkId` value contained in the current interface's returned result",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "groupId",
                        "in": "query",
                        "description": "phone grouping ID list, The `groupId` value contained in the current interface's returned result",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "groupCode",
                        "in": "query",
                        "description": "phone group code, Value is all_group=All groups,renew_expired=After the renewal period,un_group=Not grouped",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "groupType",
                        "in": "query",
                        "description": "phone group type, Value is system_group=System grouping,custom_group=Custom grouping",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Number of records displayed per page\nThe default is1,and the maximum number of items in a single query is:1",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "pageNum",
                        "in": "query",
                        "description": "Current page count",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TableDataInfoPhonePageListResVO"
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "traceId": "",
                                            "total": 0,
                                            "rows": [
                                                {
                                                    "id": 0,
                                                    "name": "",
                                                    "groupId": 0,
                                                    "groupName": "",
                                                    "code": "",
                                                    "spuId": 0,
                                                    "spuName": "",
                                                    "skuId": 0,
                                                    "phoneModel": "",
                                                    "phoneBrand": "",
                                                    "adbIp": "",
                                                    "adbPort": "",
                                                    "adbPassword": "",
                                                    "payType": 0,
                                                    "skuName": "",
                                                    "cycleName": "",
                                                    "cycleEnum": "",
                                                    "expireStatus": 0,
                                                    "networkId": 0,
                                                    "channel": "",
                                                    "powerOnTime": "",
                                                    "powerOffTime": "",
                                                    "expireTime": "",
                                                    "expireDuration": "",
                                                    "nextPayTime": "",
                                                    "status": 0,
                                                    "remark": "",
                                                    "userId": 0,
                                                    "createUser": "",
                                                    "createTime": "",
                                                    "updateTime": "",
                                                    "networkResVO": {
                                                        "host": "",
                                                        "port": 0,
                                                        "account": "",
                                                        "password": "",
                                                        "region": "",
                                                        "num": 0,
                                                        "countryCode": "",
                                                        "countryName": "",
                                                        "type": "",
                                                        "timezone": "",
                                                        "language": "",
                                                        "ip": "",
                                                        "latitude": "",
                                                        "longitude": "",
                                                        "bindCount": 0,
                                                        "status": 0,
                                                        "detectDataType": 0,
                                                        "groupId": 0,
                                                        "remark": ""
                                                    },
                                                    "authorizeResVO": {
                                                        "avatar": "",
                                                        "name": "",
                                                        "userId": 0
                                                    },
                                                    "cycle": 0
                                                }
                                            ],
                                            "code": 0,
                                            "msg": ""
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {

                        }
                    }
                },
                "security": [

                ]
            }
        },
        "/open/api/phone/resolution/list": {
            "get": {
                "summary": "Get phone resolution list",
                "deprecated": false,
                "description": "get phone resolution list",
                "tags": [

                ],
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Phone status, 1=normal,2=restart,4=powerOff,41=powerOn,6=reset,7=One-click New Device",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RListPhoneResolutionListResVO"
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "traceId": "",
                                            "code": 0,
                                            "msg": "",
                                            "data": [
                                                {
                                                    "screenWidth": "",
                                                    "screenHeight": ""
                                                }
                                            ],
                                            "status": ""
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {

                        }
                    }
                },
                "security": [

                ]
            }
        },
        "/open/api/phone/task/status": {
            "get": {
                "summary": "Get phone task status",
                "deprecated": false,
                "description": "check the status of phone tasks",
                "tags": [

                ],
                "parameters": [
                    {
                        "name": "operateType",
                        "in": "query",
                        "description": "Phone operation type: powerOn, reset, restart, renew",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "phoneId",
                        "in": "query",
                        "description": "Phone ID, The `Get phone list` returns the ID contained in the data.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RPhoneTaskStatusResVO"
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "traceId": "",
                                            "code": 0,
                                            "msg": "",
                                            "data": {
                                                "taskStatus": 0,
                                                "taskStatusName": "",
                                                "phoneStatus": 0,
                                                "phoneStatusName": ""
                                            },
                                            "status": ""
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {

                        }
                    }
                },
                "security": [

                ]
            }
        },
        "/open/api/phone/setNetwork": {
            "post": {
                "summary": "Phone network settings",
                "deprecated": false,
                "description": "phone network settings",
                "tags": [

                ],
                "parameters": [

                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PhoneSetNetworkReqVOUpdate",
                                "description": ""
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RVoid"
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "traceId": "",
                                            "code": 0,
                                            "msg": "",
                                            "data": null,
                                            "status": ""
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {

                        }
                    }
                },
                "security": [

                ]
            }
        },
        "/open/api/phone/remove": {
            "post": {
                "summary": "Delete phone",
                "deprecated": false,
                "description": "delete phone",
                "tags": [

                ],
                "parameters": [

                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PhoneReqVODelete",
                                "description": ""
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RVoid"
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "traceId": "",
                                            "code": 0,
                                            "msg": "",
                                            "data": null,
                                            "status": ""
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {

                        }
                    }
                },
                "security": [

                ]
            }
        },
        "/open/api/phone/start": {
            "post": {
                "summary": "Power on",
                "deprecated": false,
                "description": "phone power on",
                "tags": [

                ],
                "parameters": [

                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PhoneReqVOUpdate",
                                "description": ""
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RPhoneStartResVO"
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "traceId": "",
                                            "code": 0,
                                            "msg": "",
                                            "data": {
                                                "screenWidth": "",
                                                "screenHeight": "",
                                                "taskId": 0
                                            },
                                            "status": ""
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {

                        }
                    }
                },
                "security": [

                ]
            }
        },
        "/open/api/phone/stop": {
            "post": {
                "summary": "Power off",
                "deprecated": false,
                "description": "phone power off",
                "tags": [

                ],
                "parameters": [

                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PhoneReqVO",
                                "description": ""
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RApiTaskResVO"
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "traceId": "",
                                            "code": 0,
                                            "msg": "",
                                            "data": {
                                                "taskId": 0
                                            },
                                            "status": ""
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {

                        }
                    }
                },
                "security": [

                ]
            }
        },
        "/open/api/phone/restart": {
            "post": {
                "summary": "Restart phone",
                "deprecated": false,
                "description": "restart phone",
                "tags": [

                ],
                "parameters": [

                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PhoneReqVO",
                                "description": ""
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RApiTaskResVO"
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "traceId": "",
                                            "code": 0,
                                            "msg": "",
                                            "data": {
                                                "taskId": 0
                                            },
                                            "status": ""
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {

                        }
                    }
                },
                "security": [

                ]
            }
        },
        "/open/api/phone/reset": {
            "post": {
                "summary": "Restore factory settings",
                "deprecated": false,
                "description": "phone restore factory settings",
                "tags": [

                ],
                "parameters": [

                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PhoneReqVO",
                                "description": ""
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RApiTaskResVO"
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "traceId": "",
                                            "code": 0,
                                            "msg": "",
                                            "data": {
                                                "taskId": 0
                                            },
                                            "status": ""
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {

                        }
                    }
                },
                "security": [

                ]
            }
        },
        "/open/api/phone/oneNew": {
            "post": {
                "summary": "One click new machine",
                "deprecated": false,
                "description": "one click new machine",
                "tags": [

                ],
                "parameters": [

                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PhoneReqVO",
                                "description": ""
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RApiTaskResVO"
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "traceId": "",
                                            "code": 0,
                                            "msg": "",
                                            "data": {
                                                "taskId": 0
                                            },
                                            "status": ""
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {

                        }
                    }
                },
                "security": [

                ]
            }
        },
        "/open/api/phone/clear": {
            "post": {
                "summary": "Phone accelerate",
                "deprecated": false,
                "description": "phone accelerate",
                "tags": [

                ],
                "parameters": [

                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PhoneReqVO",
                                "description": ""
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RVoid"
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "traceId": "",
                                            "code": 0,
                                            "msg": "",
                                            "data": null,
                                            "status": ""
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {

                        }
                    }
                },
                "security": [

                ]
            }
        },
        "/open/api/phone/getAdbInfo": {
            "post": {
                "summary": "Get ADB information",
                "deprecated": false,
                "description": "get ADB information",
                "tags": [

                ],
                "parameters": [

                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PhoneGetAdbInfoVO",
                                "description": ""
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RPhoneAdbInfoResVO"
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "traceId": "",
                                            "code": 0,
                                            "msg": "",
                                            "data": {
                                                "phoneId": 0,
                                                "adbIp": "",
                                                "adbPort": "",
                                                "adbPassword": ""
                                            },
                                            "status": ""
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {

                        }
                    }
                },
                "security": [

                ]
            }
        },
        "/open/api/phone/file/scan": {
            "post": {
                "summary": "Phone file scan",
                "deprecated": false,
                "description": "scan the mobile file directory",
                "tags": [

                ],
                "parameters": [

                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiPhoneFileScanReqVO",
                                "description": ""
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RApiPhoneFileScanPageResVO"
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "traceId": "",
                                            "code": 0,
                                            "msg": "",
                                            "data": {
                                                "parentDir": "",
                                                "fileList": {
                                                    "traceId": "",
                                                    "total": 0,
                                                    "rows": [
                                                        {
                                                            "path": "",
                                                            "name": "",
                                                            "type": 0,
                                                            "size": 0,
                                                            "convertSize": ""
                                                        }
                                                    ],
                                                    "code": 0,
                                                    "msg": ""
                                                }
                                            },
                                            "status": ""
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {

                        }
                    }
                },
                "security": [

                ]
            }
        },
        "/open/api/phone/file/download": {
            "post": {
                "summary": "Phone file download",
                "deprecated": false,
                "description": "download mobile files to local device",
                "tags": [

                ],
                "parameters": [

                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiPhoneFileDownloadReqVO",
                                "description": ""
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RApiPhoneFileDownloadResVO"
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "traceId": "",
                                            "code": 0,
                                            "msg": "",
                                            "data": {
                                                "downId": "",
                                                "taskId": 0
                                            },
                                            "status": ""
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {

                        }
                    }
                },
                "security": [

                ]
            }
        },
        "/open/api/phone/minio/init/task": {
            "post": {
                "summary": "Initialize upload task",
                "deprecated": false,
                "description": "initialize upload task",
                "tags": [

                ],
                "parameters": [

                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UploadTaskInitReqVO",
                                "description": ""
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RUploadTaskInfoVO"
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "traceId": "",
                                            "code": 0,
                                            "msg": "",
                                            "data": {
                                                "finished": false,
                                                "path": "",
                                                "taskRecord": {
                                                    "teamId": 0,
                                                    "uploadId": "",
                                                    "fileIdentifier": "",
                                                    "fileName": "",
                                                    "bucketName": "",
                                                    "objectKey": "",
                                                    "totalSize": 0,
                                                    "chunkSize": 0,
                                                    "chunkNum": 0,
                                                    "expireTime": "",
                                                    "exitPartList": [
                                                        {
                                                            "partNumber": 0,
                                                            "lastModified": "",
                                                            "eTag": "",
                                                            "size": 0
                                                        }
                                                    ]
                                                }
                                            },
                                            "status": ""
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {

                        }
                    }
                },
                "security": [

                ]
            }
        },
        "/open/api/phone/completeAndPush": {
            "post": {
                "summary": "Complete and push",
                "deprecated": false,
                "description": "merge shards&push to mobile phone",
                "tags": [

                ],
                "parameters": [

                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiUploadMinIOReqVO",
                                "description": ""
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RApiUploadFileResVO"
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "traceId": "",
                                            "code": 0,
                                            "msg": "",
                                            "data": {
                                                "phoneId": 0,
                                                "envFileId": 0,
                                                "taskId": 0
                                            },
                                            "status": ""
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {

                        }
                    }
                },
                "security": [

                ]
            }
        },
        "/open/api/phone/getRemoteToken": {
            "post": {
                "summary": "Get remote token",
                "deprecated": false,
                "description": "get remote connection token",
                "tags": [

                ],
                "parameters": [

                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiRemoteTokenReqVO",
                                "description": ""
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RListApiRemoteTokenResVO"
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "traceId": "",
                                            "code": 0,
                                            "msg": "",
                                            "data": [
                                                {
                                                    "phoneId": 0,
                                                    "teamId": 0,
                                                    "status": 0,
                                                    "token": {

                                                    },
                                                    "errorMsg": "",
                                                    "chargeType": 0,
                                                    "nextPayTime": ""
                                                }
                                            ],
                                            "status": ""
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {

                        }
                    }
                },
                "security": [

                ]
            }
        },
        "/open/api/app/list": {
            "post": {
                "summary": "Get app list",
                "deprecated": false,
                "description": "get app list",
                "tags": [

                ],
                "parameters": [
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Number of records displayed per page\nThe default is1,and the maximum number of items in a single query is:1",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "pageNum",
                        "in": "query",
                        "description": "Current page count",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PhoneAppListReqVO",
                                "description": ""
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TableDataInfoAppListV2ResVO"
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "traceId": "",
                                            "total": 0,
                                            "rows": [
                                                {
                                                    "id": 0,
                                                    "apkName": "",
                                                    "apkPkg": "",
                                                    "apkIconUrl": "",
                                                    "installStatus": 0,
                                                    "cateCode": 0,
                                                    "weight": 0,
                                                    "needUpdate": false,
                                                    "appVersionList": [
                                                        {
                                                            "id": 0,
                                                            "apkVersionName": "",
                                                            "apkVersionCode": 0,
                                                            "installStatus": 0,
                                                            "size": 0,
                                                            "shelfStatus": 0,
                                                            "md5": ""
                                                        }
                                                    ],
                                                    "shelfStatus": 0
                                                }
                                            ],
                                            "code": 0,
                                            "msg": ""
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {

                        }
                    }
                },
                "security": [

                ]
            }
        },
        "/open/api/app/categoryList": {
            "get": {
                "summary": "Get app category list",
                "deprecated": false,
                "description": "get app category list",
                "tags": [

                ],
                "parameters": [

                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RListAppCategoryVO"
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "traceId": "",
                                            "code": 0,
                                            "msg": "",
                                            "data": [
                                                {
                                                    "code": 0,
                                                    "name": ""
                                                }
                                            ],
                                            "status": ""
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {

                        }
                    }
                },
                "security": [

                ]
            }
        },
        "/open/api/app/install": {
            "post": {
                "summary": "Phone install app",
                "deprecated": false,
                "description": "phone install app",
                "tags": [

                ],
                "parameters": [

                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PhoneAppInstallReqVO",
                                "description": ""
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RApiTaskResVO"
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "traceId": "",
                                            "code": 0,
                                            "msg": "",
                                            "data": {
                                                "taskId": 0
                                            },
                                            "status": ""
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {

                        }
                    }
                },
                "security": [

                ]
            }
        },
        "/open/api/app/listUpgradeApp": {
            "post": {
                "summary": "Get can upgrade app list",
                "deprecated": false,
                "description": "get can upgrade app list",
                "tags": [

                ],
                "parameters": [
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Number of records displayed per page\nThe default is1,and the maximum number of items in a single query is:1",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "pageNum",
                        "in": "query",
                        "description": "Current page count",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PhoneReqVO",
                                "description": ""
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TableDataInfoAppListV2ResVO"
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "traceId": "",
                                            "total": 0,
                                            "rows": [
                                                {
                                                    "id": 0,
                                                    "apkName": "",
                                                    "apkPkg": "",
                                                    "apkIconUrl": "",
                                                    "installStatus": 0,
                                                    "cateCode": 0,
                                                    "weight": 0,
                                                    "needUpdate": false,
                                                    "appVersionList": [
                                                        {
                                                            "id": 0,
                                                            "apkVersionName": "",
                                                            "apkVersionCode": 0,
                                                            "installStatus": 0,
                                                            "size": 0,
                                                            "shelfStatus": 0,
                                                            "md5": ""
                                                        }
                                                    ],
                                                    "shelfStatus": 0
                                                }
                                            ],
                                            "code": 0,
                                            "msg": ""
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {

                        }
                    }
                },
                "security": [

                ]
            }
        },
        "/open/api/app/operate": {
            "post": {
                "summary": "Phone app operation",
                "deprecated": false,
                "description": "operation application (start/stop/restart/uninstall)",
                "tags": [

                ],
                "parameters": [

                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PhoneAppOperateReqVO",
                                "description": ""
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RVoid"
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "traceId": "",
                                            "code": 0,
                                            "msg": "",
                                            "data": null,
                                            "status": ""
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {

                        }
                    }
                },
                "security": [

                ]
            }
        },
        "/open/api/task/info/list": {
            "post": {
                "summary": "Get task info list",
                "deprecated": false,
                "description": "batch query task information (up to 100 items per query)",
                "tags": [

                ],
                "parameters": [

                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TaskStatusListReqVO",
                                "description": ""
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RListTaskInfoResVO"
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "traceId": "",
                                            "code": 0,
                                            "msg": "",
                                            "data": [
                                                {
                                                    "id": 0,
                                                    "phoneId": 0,
                                                    "teamId": 0,
                                                    "userId": 0,
                                                    "opType": "",
                                                    "apkPkg": "",
                                                    "apkVersionCode": 0,
                                                    "downloadUrl": "",
                                                    "status": 0,
                                                    "startTime": "",
                                                    "endTime": "",
                                                    "remark": ""
                                                }
                                            ],
                                            "status": ""
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {

                        }
                    }
                },
                "security": [

                ]
            }
        },
        "/open/api/brand/list": {
            "post": {
                "summary": "Get list brand",
                "deprecated": false,
                "description": "get a list of supported mobile phone brands",
                "tags": [

                ],
                "parameters": [

                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PhoneBrandListReqVO",
                                "description": ""
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RListPhoneBrandListResVO"
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "traceId": "",
                                            "code": 0,
                                            "msg": "",
                                            "data": [
                                                {
                                                    "brand": "",
                                                    "resolutions": [
                                                        {
                                                            "width": 0,
                                                            "height": 0
                                                        }
                                                    ]
                                                }
                                            ],
                                            "status": ""
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {

                        }
                    }
                },
                "security": [

                ]
            }
        },
        "/open/api/network/list": {
            "get": {
                "summary": "Get network list",
                "deprecated": false,
                "description": "",
                "tags": [

                ],
                "parameters": [
                    {
                        "name": "host",
                        "in": "query",
                        "description": "proxy network ip/domain The `host` value contained in the current interface's returned result",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "num",
                        "in": "query",
                        "description": "The `num` value contained in the current interface's returned result",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "remark",
                        "in": "query",
                        "description": "remark",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "groupId",
                        "in": "query",
                        "description": "The `groupId` value contained in the current interface's returned result",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "groupCode",
                        "in": "query",
                        "description": "Network system packet code, all_group=All groups,renew_expired=After the renewal period,un_group=Not grouped",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "groupType",
                        "in": "query",
                        "description": "Network Packet Type, system_group=System grouping,custom_group=Custom grouping",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Number of records displayed per page\nThe default is1,and the maximum number of items in a single query is:1",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "pageNum",
                        "in": "query",
                        "description": "Current page count",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TableDataInfoNetworkListResVO"
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "traceId": "",
                                            "total": 0,
                                            "rows": [
                                                {
                                                    "id": 0,
                                                    "name": "",
                                                    "num": 0,
                                                    "groupId": 0,
                                                    "groupName": "",
                                                    "host": "",
                                                    "port": 0,
                                                    "account": "",
                                                    "password": "",
                                                    "type": "",
                                                    "status": 0,
                                                    "detectDataType": 0,
                                                    "bindCount": 0,
                                                    "boxBindCount": 0,
                                                    "countryCode": "",
                                                    "timezone": "",
                                                    "language": "",
                                                    "countryName": "",
                                                    "region": "",
                                                    "latitude": "",
                                                    "longitude": "",
                                                    "ip": "",
                                                    "remark": "",
                                                    "createTime": "",
                                                    "updateTime": ""
                                                }
                                            ],
                                            "code": 0,
                                            "msg": ""
                                        }
                                    }
                                }
                            }
                        },
                        "headers": {

                        }
                    }
                },
                "security": [

                ]
            }
        }
    },
    "components": {
        "schemas": {
            "NetworkListResVO": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "Network ID",
                        "format": "int64"
                    },
                    "name": {
                        "type": "string",
                        "description": "proxy network name"
                    },
                    "num": {
                        "type": "integer",
                        "description": "serial number, Used for displaying sorting"
                    },
                    "groupId": {
                        "type": "integer",
                        "description": "proxy network group id",
                        "format": "int64"
                    },
                    "groupName": {
                        "type": "string",
                        "description": "proxy network group name"
                    },
                    "host": {
                        "type": "string",
                        "description": "proxy network ip/domain"
                    },
                    "port": {
                        "type": "integer",
                        "description": "proxy network port"
                    },
                    "account": {
                        "type": "string",
                        "description": "account"
                    },
                    "password": {
                        "type": "string",
                        "description": "password"
                    },
                    "type": {
                        "type": "string",
                        "description": "proxy network type 1=socks5,2=https,3=http"
                    },
                    "status": {
                        "type": "integer",
                        "description": "proxy network status, 0=undetected,1=Test passed,2=Test failed"
                    },
                    "detectDataType": {
                        "type": "integer",
                        "description": "Data type of the test results，1=Follow the IP 2=custom"
                    },
                    "bindCount": {
                        "type": "integer",
                        "description": "Number of associated mobile phones",
                        "format": "int64"
                    },
                    "boxBindCount": {
                        "type": "integer",
                        "description": "The number of times the Magic Box mobile phone has been bound",
                        "format": "int64"
                    },
                    "countryCode": {
                        "type": "string",
                        "description": "proxy network country code"
                    },
                    "timezone": {
                        "type": "string",
                        "description": "proxy network timezone"
                    },
                    "language": {
                        "type": "string",
                        "description": "proxy network language"
                    },
                    "countryName": {
                        "type": "string",
                        "description": "proxy network country name"
                    },
                    "region": {
                        "type": "string",
                        "description": "proxy network region"
                    },
                    "latitude": {
                        "type": "string",
                        "description": "proxy network latitude"
                    },
                    "longitude": {
                        "type": "string",
                        "description": "proxy network longitude"
                    },
                    "ip": {
                        "type": "string",
                        "description": "proxy network Actual IP address"
                    },
                    "remark": {
                        "type": "string",
                        "description": "remark"
                    },
                    "createTime": {
                        "type": "string",
                        "description": "create time"
                    },
                    "updateTime": {
                        "type": "string",
                        "description": "update time"
                    }
                }
            },
            "Resolution": {
                "type": "object",
                "properties": {
                    "width": {
                        "type": "integer",
                        "description": "Resolution width in pixels"
                    },
                    "height": {
                        "type": "integer",
                        "description": "Resolution height in pixels"
                    }
                }
            },
            "PhoneBrandListResVO": {
                "type": "object",
                "properties": {
                    "brand": {
                        "type": "string",
                        "description": "SDK version"
                    },
                    "resolutions": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Resolution",
                            "description": "com.wuyin.chameleon.common.model.wy.phone.res.PhoneBrandListResVO.Resolution"
                        },
                        "description": "Available resolutions list"
                    }
                }
            },
            "RListProductInfoVO": {
                "type": "object",
                "properties": {
                    "traceId": {
                        "type": "string",
                        "description": "Request link ID"
                    },
                    "code": {
                        "type": "integer",
                        "description": "code"
                    },
                    "msg": {
                        "type": "string",
                        "description": "Request return message"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ProductInfoVO",
                            "description": "ProductInfoVO"
                        },
                        "description": "Request return data"
                    },
                    "status": {
                        "type": "string",
                        "description": "Status, representing whether this is an instant completion or waiting state, finish or pending",
                        "default": "finish"
                    }
                },
                "required": [
                    "traceId",
                    "code",
                    "msg",
                    "status"
                ]
            },
            "ProductInfoVO": {
                "type": "object",
                "properties": {
                    "spuId": {
                        "type": "integer",
                        "description": "Product SPU ID",
                        "format": "int64"
                    },
                    "spuName": {
                        "type": "string",
                        "description": "Product SKU Name"
                    },
                    "skuList": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ProductSkuInfoVO",
                            "description": "ProductSkuInfoVO"
                        },
                        "description": "Product SKU information list"
                    }
                }
            },
            "ProductSkuInfoVO": {
                "type": "object",
                "properties": {
                    "skuId": {
                        "type": "integer",
                        "description": "Product SKU ID, Used for creating mobile phones",
                        "format": "int64"
                    },
                    "skuName": {
                        "type": "string",
                        "description": "Product SKU name"
                    },
                    "chargeType": {
                        "type": "integer",
                        "description": "Billing type: 1=On demand, 2=Time package, The charging method when the mobile phone is in operation."
                    },
                    "cycle": {
                        "type": "integer",
                        "description": "Billing cycle"
                    },
                    "cycleName": {
                        "type": "string",
                        "description": "Billing cycle unit"
                    },
                    "isAutoRenewal": {
                        "type": "boolean",
                        "description": "Whether to auto-renew, currently fixed as: true",
                        "default": true
                    },
                    "cyclePrice": {
                        "type": "number",
                        "description": "Computing power cost"
                    },
                    "skuExtraPriceList": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ProductSkuExtraPriceInfoVO",
                            "description": "ProductSkuExtraPriceInfoVO"
                        },
                        "description": "Additional price information of product SKU"
                    }
                }
            },
            "ProductSkuExtraPriceInfoVO": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "Actual product ID",
                        "format": "int64"
                    },
                    "name": {
                        "type": "string",
                        "description": "Fee name"
                    },
                    "price": {
                        "type": "number",
                        "description": "Fee amount"
                    },
                    "cycleName": {
                        "type": "string",
                        "description": "Billing cycle unit"
                    }
                }
            },
            "TaskInfoResVO": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "Task ID",
                        "format": "int64"
                    },
                    "phoneId": {
                        "type": "integer",
                        "description": "phone ID",
                        "format": "int64"
                    },
                    "teamId": {
                        "type": "integer",
                        "description": "Team ID",
                        "format": "int64"
                    },
                    "userId": {
                        "type": "integer",
                        "description": "owner user ID",
                        "format": "int64"
                    },
                    "opType": {
                        "type": "string",
                        "description": "Task type",
                        "enum": [
                            "installAppByUrl",
                            "operatorApp",
                            "phoneRestart",
                            "phoneReset",
                            "bindPhone",
                            "installApp",
                            "uploadFile",
                            "powerOn",
                            "phoneRenew",
                            "powerOff",
                            "release",
                            "downFile",
                            "removePhone"
                        ]
                    },
                    "apkPkg": {
                        "type": "string",
                        "description": "Application package name"
                    },
                    "apkVersionCode": {
                        "type": "integer",
                        "description": "Application version code"
                    },
                    "downloadUrl": {
                        "type": "string",
                        "description": "Download URL"
                    },
                    "status": {
                        "type": "integer",
                        "description": "Task status (refer to TaskStatusEnum)",
                        "enum": [
                            0,
                            1,
                            2
                        ]
                    },
                    "startTime": {
                        "type": "string",
                        "description": "Task start time"
                    },
                    "endTime": {
                        "type": "string",
                        "description": "Task end time"
                    },
                    "remark": {
                        "type": "string",
                        "description": "Remarks"
                    }
                }
            },
            "AppCategoryVO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "description": "category code"
                    },
                    "name": {
                        "type": "string",
                        "description": "category name"
                    }
                }
            },
            "AppVersionListV2ResVO": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "Application Version ID",
                        "format": "int64"
                    },
                    "apkVersionName": {
                        "type": "string",
                        "description": "APK version name"
                    },
                    "apkVersionCode": {
                        "type": "integer",
                        "description": "APK version code"
                    },
                    "installStatus": {
                        "type": "integer",
                        "description": "Installation status: -1=Not installed, 0=Installing, 1=Successfully installed, 2=Installation failed",
                        "default": -1
                    },
                    "size": {
                        "type": "integer",
                        "description": "file size（byte）"
                    },
                    "shelfStatus": {
                        "type": "integer",
                        "description": "Listing status: 1=listed, 0=removed",
                        "default": 0
                    },
                    "md5": {
                        "type": "string",
                        "description": "file md5"
                    }
                }
            },
            "AppListV2ResVO": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "apkId",
                        "format": "int64"
                    },
                    "apkName": {
                        "type": "string",
                        "description": "APK name"
                    },
                    "apkPkg": {
                        "type": "string",
                        "description": "APK package name"
                    },
                    "apkIconUrl": {
                        "type": "string",
                        "description": "APK icon URL"
                    },
                    "installStatus": {
                        "type": "integer",
                        "description": "Installation status: -1=Not installed, 0=Installing, 1=Success, 2=Failed。defaultValue -1",
                        "default": -1
                    },
                    "cateCode": {
                        "type": "integer",
                        "description": "Category code (-1 means uncategorized) defaultValue -1",
                        "default": -1
                    },
                    "weight": {
                        "type": "integer",
                        "description": "Weight (higher values appear first) defaultValue 0",
                        "default": 0
                    },
                    "needUpdate": {
                        "type": "boolean",
                        "description": "Whether update is needed defaultValue false",
                        "default": false
                    },
                    "appVersionList": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AppVersionListV2ResVO",
                            "description": "AppVersionListV2ResVO"
                        },
                        "description": "List of app versions"
                    },
                    "shelfStatus": {
                        "type": "integer",
                        "description": "Shelf status: 1=On shelf, 0=Off shelf"
                    }
                }
            },
            "PhoneCreateReqVOCreate": {
                "type": "object",
                "properties": {
                    "spuId": {
                        "type": "integer",
                        "description": "phone spuId, obtain through `Get product list` api",
                        "format": "int64"
                    },
                    "skuId": {
                        "type": "integer",
                        "description": "phone skuId, obtain through `Get product list` api",
                        "format": "int64"
                    },
                    "num": {
                        "type": "integer",
                        "description": "Purchase quantity of mobile phones, minimum value is 1",
                        "minimum": 1
                    },
                    "realResolution": {
                        "type": "boolean",
                        "description": "whether to use the actual device resolution"
                    },
                    "brand": {
                        "type": "string",
                        "description": "brand name, obtain through `Get list brand` API"
                    },
                    "width": {
                        "type": "integer",
                        "description": "resolution width, If you fill in the brand name, it must be consistent with the value returned by the `Get list brand` API."
                    },
                    "height": {
                        "type": "integer",
                        "description": "resolution height, If you fill in the brand name, it must be consistent with the value returned by the `Get list brand` API."
                    },
                    "phoneNumber": {
                        "type": "string",
                        "description": "phone number, Set the mobile phone number stored within the device"
                    }
                },
                "required": [
                    "spuId",
                    "skuId",
                    "num"
                ]
            },
            "Object": {
                "type": "object",
                "properties": {

                }
            },
            "ApiRemoteTokenResVO": {
                "type": "object",
                "properties": {
                    "phoneId": {
                        "type": "integer",
                        "description": "Phone ID",
                        "format": "int64"
                    },
                    "teamId": {
                        "type": "integer",
                        "description": "Team ID",
                        "format": "int64"
                    },
                    "status": {
                        "type": "integer",
                        "description": "@ NotNull\nPhone status",
                        "enum": [
                            1,
                            2,
                            4,
                            41,
                            6,
                            7
                        ]
                    },
                    "token": {
                        "$ref": "#/components/schemas/Object",
                        "description": "Authentication token"
                    },
                    "errorMsg": {
                        "type": "string",
                        "description": "Error message"
                    },
                    "chargeType": {
                        "type": "integer",
                        "description": "Billing type"
                    },
                    "nextPayTime": {
                        "type": "string",
                        "description": "Next payment time"
                    }
                },
                "required": [
                    "phoneId"
                ]
            },
            "RVoid": {
                "type": "object",
                "properties": {
                    "traceId": {
                        "type": "string",
                        "description": "Request link ID"
                    },
                    "code": {
                        "type": "integer",
                        "description": "code"
                    },
                    "msg": {
                        "type": "string",
                        "description": "Request return message"
                    },
                    "data": {
                        "description": "Request return data",
                        "type": "null"
                    },
                    "status": {
                        "type": "string",
[...]
