{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://sandbox.mintlify.com",
      "description": "Default server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/apiRecord/result": {
      "servers": [
        {
          "url": "http://ai-server.mintlify.com",
          "description": "AI接口服务地址"
        }
      ],
      "get": {
        "description": "Returns all plants from the system that the user has access to",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plant response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plant"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "badRequest": {
                    "summary": "请求参数错误",
                    "value": {
                      "error": 400,
                      "message": "请求参数无效"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new plant in the store",
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              },
              "examples": {
                "example1": {
                  "summary": "创建新植物",
                  "value": {
                    "id": 1,
                    "name": "向日葵",
                    "tag": "花卉"
                  }
                },
                "example2": {
                  "summary": "创建多肉植物",
                  "value": {
                    "id": 2,
                    "name": "芦荟",
                    "tag": "多肉植物"
                  }
                }
              }
            }
          }
        },
        "required": true,
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plant"
                },
                "examples": {
                  "createdPlant": {
                    "summary": "创建的植物",
                    "value": {
                      "name": "向日葵",
                      "tag": "花卉"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "badRequest": {
                    "summary": "请求参数错误",
                    "value": {
                      "error": 400,
                      "message": "请求参数无效"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/h": {
      "servers": [
        {
          "url": "http://ai-server.mintlify.com",
          "description": "AI API server"
        }
      ],
      "get": {
        "description": "Returns all plants from the system that the user has access to",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plant response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plant"
                  }
                },
                "examples": {
                  "example1": {
                    "summary": "示例植物列表",
                    "value": [
                      {
                        "name": "玫瑰",
                        "tag": "花卉"
                      },
                      {
                        "name": "仙人掌",
                        "tag": "多肉植物"
                      }
                    ]
                  },
                  "example2": {
                    "summary": "空植物列表",
                    "value": []
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "badRequest": {
                    "summary": "请求参数错误",
                    "value": {
                      "error": 400,
                      "message": "请求参数无效"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new plant in the store",
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              },
              "examples": {
                "example1": {
                  "summary": "创建新植物",
                  "value": {
                    "id": 1,
                    "name": "向日葵",
                    "tag": "花卉"
                  }
                },
                "example2": {
                  "summary": "创建多肉植物",
                  "value": {
                    "id": 2,
                    "name": "芦荟",
                    "tag": "多肉植物"
                  }
                }
              }
            }
          }
        },
        "required": true,
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plant"
                },
                "examples": {
                  "createdPlant": {
                    "summary": "创建的植物",
                    "value": {
                      "name": "向日葵",
                      "tag": "花卉"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "badRequest": {
                    "summary": "请求参数错误",
                    "value": {
                      "error": 400,
                      "message": "请求参数无效"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/plants/{id}": {
      "servers": [
        {
          "url": "http://pmock-server.mintlify.com",
          "description": "PMOCK API server"
        }
      ],
      "delete": {
        "description": "Deletes a single plant based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of plant to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Plant deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "badRequest": {
                    "summary": "请求参数错误",
                    "value": {
                      "error": 400,
                      "message": "请求参数无效"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "/plant/webhook": {
      "post": {
        "description": "Information about a new plant added to the store",
        "requestBody": {
          "description": "Plant added to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 200 status to indicate that the data was received successfully"
          }
        }
      }
    }
  },
  
  "components": {
    "schemas": {
      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}